
.divider-light {
      width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}

.divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.control-button {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #cecece;
  width: 50px;
  height: 50px;
  z-index: 10;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 20px;
  font-size: 2.2em;
  color: black;
}

#ig-feed {
  border-radius: 20px;
}

h2 {
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
}

.instagram-feed {
  border-radius: 20px;
}

#nika-logo {
  width: 30px;
}

.bulding-image {
  min-width: 40%;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 10px 50px black;
}

#ig-button {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
  border: 0;
}

.zoom-wrapper {
  min-height: 250px;
  border-radius: 20px;
  box-shadow: 0px 05px 100px black;
}

#about-me {
  padding-top: 0;
}

#about-me-photo {
  max-height: 800px;
  border-radius: 20px;
}

#ig-feed > .container {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border-radius: 20px;
  filter: drop-shadow(0 0 0.75rem #dc2743);
}

#ig-feed > .container h2 {
  font-family: "Instagram Sans Script", sans-serif;
  -webkit-text-stroke: 2px #ffffff;
  color: transparent;
  margin: 0;
}



.btn-about-me {
  background-color: #380d21;
  color: white;
}

.hero-background {
  z-index: -2;
}

.hero {
  width: 100%;
  position: relative;
}

.container-headline {
  padding: 0 1em 2em;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  z-index: 5;

  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}

video {
  width: 100%;
}

.carousel-item > img {
  width: 100%;
  max-height: 800px;
  border-radius: 20px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-item {
  width: 100%;
  max-height: 800px;
  border-radius: 20px;
}

.carousel-section {
  filter: drop-shadow(3px 5px 15px rgba(0, 0, 0));
}

#bikini-fitness {
  filter: drop-shadow(3px 2px 14px rgba(0, 0, 0, 0.27));
  font-family: "Poppins", sans-serif;
  letter-spacing: 10px;
  font-weight: 600;
  word-spacing: 15px;
}

#my-way-button {
  min-width: 45%;
  background-color: #0032ac;
  color: white;
  font-size: large;
}

/* Need a specific value to work */

.container-headline h1 {
  display: none;
  font-size: clamp(2rem, 10vw + 0.1rem, 5rem);
  text-align: center;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.986);
  color: transparent;
  margin-bottom: 0;
}

.container-headline a {
  display: none;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(10, 10, 10, 0.333);
  z-index: 3;
}

#navbar-ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: end;
}

nav ul li {
  list-style: none;
  display: inline-block;
}
.nav-link {
  font-size: 1.275rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
}
.nav-link:hover {
  text-decoration: overline;
  color: rgb(255, 255, 255);
}
.navbar-toggler {
  color: #fff;
}

/*Contact page*/
body {
  background-color: #535353;
}

.hero-contact {
  border-radius: 20px;
  background-color: #212529;
  box-shadow: 4px 5px 25px black;
}

#hero-img {
  scale: 1.27;
}

.contact-headline {
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
  margin-top: 20px;
}

#ff-address {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

#ff-address:hover {
  color: #cecece;
}

#ff-building-photo {
  max-width: 100%;
  max-height: 80%;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 3px 5px 15px black;
}

.contact-information > li > a {
  color: white;
  list-style: none;
  text-decoration: dashed;
}
.contact-information {
  list-style: none;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

.contacts {
  font-family: "Poppins", sans-serif;
}

.contacts > button > a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

#maps-button:hover {
  background-color: #cecece;
  color: black;
}

.contacts > button:hover {
  
  background-color: #9e0407de;
}

.contacts > button {
  background-color: #ce0b0ede;
}

.map-button > a > button {
  color: black;
  background-color: white;
  border: none;
  font-family: "Poppins", sans-serif;
}
/*
#phone-button {
  background-color: #7418E7;
  border: none;
}

#email-button {
  background-color: #18E774;
}

#igg-button {
background-color: #E77418;
}

*/

#write-me {
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
  color: black;
}

.write-me {
  box-shadow: 3px 5px 15px black;
  background-color: #f09433;
}

.contact-information > ul > li > a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.contact-information > ul {
  list-style: none;
}

/*Tablety*/
@media (min-width: 48rem) {
  #nika-logo {
    width: 70px;
  }

  nav ul li {
    list-style: none;
    display: inline-block;
  }

  #navbar-ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  .nav-link {
    font-size: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(255, 255, 255);
  }

  .hero-background {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-headline {
    max-width: fit-content;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

  .back-video {
    width: 100%;
    display: block;
  }

  .container-headline h1 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    letter-spacing: 10px;
    margin-bottom: 20px;
  }

  .container-headline a {
    display: none;
  }

  .contacts > button > a {
    font-size: 20px;
  }
}

/*Primary PC*/
@media (min-width: 85rem) {

  .contacts > button > a {
    font-size: 20px;
  }

  .control-button {
    display: none;
  }

  #nika-logo {
    width: 70px;
  }

  .container-headline h1 {
    display: block;
    font-size: 8rem;
    text-align: center;
    font-weight: 600;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.699);
    color: transparent;
    margin-bottom: 0;
    margin-bottom: 35px;
  }

  .container-headline a {
    font-family: "Work Sans", sans-serif;
    display: flex;
    text-align: center;
    width: 20%;
    text-decoration: none;
    justify-content: center;
    font-size: 2.1rem;
    color: rgba(255, 255, 255, 0.699);
    border: 2px solid rgba(255, 255, 255, 0.699);
    border-radius: 50px;
  }
}

@media (min-aspect-ration: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ration: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
